.container {
  background-image: url("/homepage-background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-left: 20px;
  height: 100vh;
  padding-top: 30px; /* Match the height of your navbar */
  text-align: center;
}
.logo-ironhack {
  width: 6%;
  will-change: filter;
  transition: filter 300ms;
  margin-bottom: 0;
  padding-bottom: 0;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo-ironhack {
    animation: logo-spin infinite 20s linear;
  }
}
.kanban-homepage {
  width: 30%;
}
.background {
  display: flex;
}
p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
